*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix::before, .clearfix::after {display: table;  content: ''; }
.clearfix::after { clear: both; }

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #141715;
	background: #D4D2E0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #323F5C;
	text-decoration: none;
}

a:hover, a:focus {
	color: #4d5871;
	outline: none;
}

.button-menu {
	width: 50px;
	height: 30px;
	position: fixed;
	top: 3em;
	right: 3em;
	border: none;
	background: transparent;
	fill: #fff;
	cursor: pointer;
	pointer-events: auto;
}

.button-menu:focus {
	outline: none;
}

/* Header */
.evan-header {
	padding: 3vmax 0 0 3vmax;
	position: absolute;
	width: 100%;
	z-index: 2000;
}

.demo-1 .evan-header {
	position: fixed;
}

.evan-header h1 {
	margin: 0;
	margin-left: -3px;
	letter-spacing: -0.035em;
	font-size: 4.65em;
	line-height: 1;
	font-weight: 900;
	padding: 0;
}

h1, h2, h3, h4 {
	color: #323F5C;
}

header a {
	color: #3298C8;
	font-size: .9em;
	font-weight: 600;
}

header a img {
	width: 14px;
}

.project header {
	max-width: 1000px;
}

.evan-header p {
	padding: 0;
	margin: 0;
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
}

/* Top Navigation Style */
.evan-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	pointer-events: auto;
	margin: 0 0 0 -0.5em;
}

.evan-links::after {
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 110%;
    background: #323F5C;
    opacity: 0.1;
    -webkit-transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
    transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
}

.evan-icon {
	display: inline-block;
	margin: 0.5em;
	width: 1.5em;
	text-decoration: none;
}

.evan-icon span {
	display: none;
}

.evan-icon::before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;

	speak: none;
	-webkit-font-smoothing: antialiased;
}

.evan-icon--drop::before {
	content: "\e001";
	color: #0099cc;
}

.evan-icon--prev::before {
	content: "\e004";
}

/* Demo links */
.evan-demos {
	margin: 1.5em 0;
}

.evan-demos a {
	display: inline-block;
	margin: 0 1em 0 0;
	font-weight: bold;
	pointer-events: auto;
}

.evan-demos a.current-demo {
	color: #ce4555;
}

/* Content */
.section {
	overflow: hidden;
	position: relative;
	height: 100vh;
	min-height: 800px;
	max-height: 1200px;
	padding: 7vmax;
}

.section--right {
	text-align: right;
}

.section--intro {
	background: linear-gradient(90deg, #58A8FB, #465683);
}

.section--portraits {
	background: linear-gradient(20deg, #F5F0F9, #A8CFF1);
}

.section--shots {
	background: linear-gradient(20deg, #D1D7EF, #5C61F5);
}

.section--cards {
	background: #FFB8CC;
}

.section__heading {
	pointer-events: none;
	padding: 0;
	font-size: 4.5em;
	line-height: 1;
	margin: 0;
	color: #fff;
	position: relative;
	z-index: 1000;
	font-family: 'Playfair Display', serif;
}

.section__heading em {
	font-family: sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 0.3em;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding: 0.15em 0;
	vertical-align: middle;
	display: inline-block;
	letter-spacing: 0.05em;
}

.section__subtitle {
	pointer-events: none;
	font-size: 1.25em;
	max-width: 500px;
	position: relative;
	z-index: 1000;
}

.section--portraits .section__subtitle {
	color: #688CB1;
}

.section--right .section__subtitle {
	margin: 1em 0 0 auto;
}

.interval {
	position: relative;
	padding: 30vh 20vw;
	background: #1C222F;
	overflow: hidden;
}

.interval__text {
	font-size: 1.75em;
	line-height: 1.5;
	color: #777792;
}

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
	padding: 10vh 2vw;
	background: #1C222F;
	color: #fff;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

.pater {
	position: fixed;
	right: 0;
	bottom: 0;
	color: #fff;
	width: 320px;
	padding: 2em 2em 2em 0;
	text-align: right;
	z-index: 100000;
}

.demo-2 .pater {
	position: absolute;
}

.pater::before {
	content: '';
	position: absolute;
	background: url(../img/ink.png) no-repeat top left;
	width: 491px;
	height: 332px;
	top: -80px;
	left: -60px;
	z-index: 0;
	opacity: 0.9;
	-webkit-transform: translate3d(10px,10px,0);
	transform: translate3d(10px,10px,0);
	-webkit-transition: opacity 0.3s, -webit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	pointer-events: none;
}

.pater:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.pater__title::before {
	content: 'Sponsored by';
	position: absolute;
	bottom: 93%;
	left: 27%;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 0.45em;
	color: #212738;
}

.pater__title,
.pater__desc {
	margin: 0;
	color: #fff;
	position: relative;
}

.pater__title {
	-webkit-transform: translate3d(5px,10px,0);
	transform: translate3d(5px,10px,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.pater:hover .pater__title {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.pater__title img {
	width: 90%;
}

.pater__desc {
	font-weight: 600;
	padding: 0.3em 0 0 0.3em;
}

@media screen and (max-width: 70em) {
	.grid__img {
		width: 400px;
	}

	.isolayer--scroll1 .grid__item {
		width: 400px;
	}
}

@media screen and (max-width: 50em) {
	.evan-header {
		width: 80%;
	}
	.evan-header h1 {
		font-size: 2em;
	}
	.evan-header p {
		font-size: 0.85em;
	}
	.interval {
		padding: 1.5em;
	}
	.interval__text {
		font-size: 1.25em;
		padding: 0 0 3em 0;
	}
	.section__heading {
		font-size: 2.5em;
	}
	.section__subtitle {
		display: none;
	}
	.evan-demos {
		margin: 0.5em 0;
		font-size: 0.75em;
	}
	.button-menu {
		top: 0.75em;
		right: 0.75em;
		width: 30px;
		height: 20px;
	}
	.demo-1 .pater {
		width: 100%;
		padding: 1em;
		text-align: left;
		background: rgba(49,63,105,0.8);
		-webkit-transform: translateZ(200px);
		transform: translateZ(200px);
	}
	.demo-1 .pater__title::before {
		left: 0;
	}
	.demo-1 .pater__title img {
		width: 150px;
		margin-top: 0.25em;
	}
	.demo-1 .pater::before {
		display: none;
	}
	.demo-1 .pater__desc {
		font-size: 0.65em;
	}
	.isolayer.isolayer--scroll1 {
		top: -38vh;
	}
	.demo-2 .pater {
		position: relative;
		display: block;
		background: none;
		margin: 0 0 0 auto;
		padding: 0;
		width: 100%;
	}

	.grid__img {
		width: 300px;
	}

	.isolayer--scroll1 .grid__item {
		width: 300px;
	}
}


/* Project Pages */

.project header {
	position: static;
	padding-left: 0;
	padding-top: 0;
	margin-top: 20px;
}

.project header h1 {
	font-size: 2em;
	margin-left: 0;
}

.contain-header .header-col {
	padding-top: 0;
}

.container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .container a {
    flex-basis: 300px;
    margin: 0 20px; }

/* line 125, styles.scss */

.content p,
.content ol {
	color: #535C76;
    font-size: .85em;
    font-weight: 500;
    line-height: 1.5em;
}

section {
  max-height: 400px;
  min-height: 200px;
  height: 300px;
  max-width: 1000px;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  /* line 141, styles.scss */
  section:hover p {;
    opacity: 1; }
  /* line 145, styles.scss */
  section:hover h2 {
    color: tomato; }
  /* line 150, styles.scss */
  section h2 {
    font-weight: 600;
    padding: 5px 0;
    margin: 5px 0;
    transition: all 0.5s ease; }
  /* line 157, styles.scss */
  section p {
    margin: 0;
    opacity: .5;
    transition: all 0.5s ease; }
  /* line 163, styles.scss */
  section.infinity-reporting {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/inf-rep-2-1.png"); }
  /* line 167, styles.scss */
  section.optimize {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/opt-4.png"); }
  /* line 171, styles.scss */
  section.segments {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/seg-2.png"); }
  /* line 175, styles.scss */
  section.personas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/persona-1.png"); }
  /* line 179, styles.scss */
  section.streams {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/streams-4.png"); }
  /* line 183, styles.scss */
  section.ana {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/ana-1.png"); }
  /* line 187, styles.scss */
  section.time {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/time-1.jpg"); }

/* line 192, styles.scss */
h3 {
  font-size: 18px; }

/* line 196, styles.scss */
h4 {
  opacity: .7;
  font-size: 14px; }

/* line 201, styles.scss */
.content .images {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content,
.contain-header {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  /* line 206, styles.scss */
  .content .images,
  .header-col {
    flex-basis: 60%;
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 20px; }
    /* line 213, styles.scss */
    .content .images figure {
      margin: 0 0 30px 0; }
    /* line 217, styles.scss */
    .content .images figcaption {
      opacity: .7;
      font-size: .8em }
    /* line 222, styles.scss */
    .content .images img {
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out; }

      .content .images img:hover {
      	box-shadow: 0 5px 30px rgba(0,0,0,.4);
      	transform: rotate(0.0025turn) scale(1.025, 1.025);
      }

  /* line 228, styles.scss */
  .content .text,
  .contain-header .text {
    flex-basis: 40%;
    max-width: 400px;
    padding-right: 15px;
    margin-bottom: 30px; }
    /* line 234, styles.scss */
    .content .text a {
      font-weight: 600;
      text-decoration: none;}
      /* line 241, styles.scss */
      .content .text a:hover {
        text-decoration: underline; }
    /* line 247, styles.scss */
    .content .text ol {
      margin: 0;
      padding-left: 20px; }
      /* line 251, styles.scss */
      .content .text ol li {
        margin-bottom: 10px; }

/* line 259, styles.scss */
.time .images {
  max-width: 400px; }

@media (max-width: 700px) {
  /* line 266, styles.scss */
  h1 .drop {
    display: none;
    height: auto;
    overflow: auto; }
    /* line 271, styles.scss */
    h1 .drop ul {
      font-size: .5em; }
  /* line 276, styles.scss */
  h1:hover .drop {
    display: block;
    height: auto; }

  /* line 282, styles.scss */
  .container {
    flex-direction: column;
    justify-content: center; }
    /* line 286, styles.scss */
    .container a {
      width: 100%;
      margin: 0 0 20px 0; }
    /* line 291, styles.scss */
    .container section {
      margin-bottom: 20px; }

  /* line 297, styles.scss */
  figcaption {
    margin-right: 5px;
    margin-left: 5px; }

  /* line 302, styles.scss */
  .content {
    flex-direction: column-reverse; }
    /* line 305, styles.scss */
    .content .images,
    .content .text {
      flex-basis: auto;
      -webkit-flex-basis: unset;
      max-width: none; }
    /* line 312, styles.scss */
    .content .images {
      padding: 0; }

      .content .images img:hover {
      	transform: none;
      }

  /* line 316, styles.scss */
  .text {
    padding-left: 15px; }

  /* line 321, styles.scss */
  .time .images {
    max-width: 400px;
    margin: auto; } }

.images figure:last-of-type {
    margin-bottom: 10px;
}

.content .images .back {
	padding-bottom: 20px;
}

.content .images .back img {
	box-shadow: none;
	width: 14px;
	display: inline;
}